<!-- Loop for each id, name of the database list returned by psql with flask templates -->
<!DOCTYPE html>
<head>
  <title>Database</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<h1>Database</h1>

<ul>
  {% for id, name in rows %}
    <li>{{ name }} con id {{ id }}</li>
  {% endfor %}
</ul>


<h2>Create</h2>
<form method="post">
  <input type="text" name="name" placeholder="Database name">
  <input type="submit" value="Create">
</form>

</body>
